.env
logs*/
A_release testcase_0510/
examples_output/
temp/
testcase*/
my_examples*
# Python cache files
__pycache__/
*.py[cod]
test*
_tmp*
docs/
src/__pycache__/*
config.yaml
*test*
!scripts/*.py
*output*
scripts/log*